.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

html, body {
	height: 100%;
}

.container {
	height: calc(100% - 10em)
}

.synth-box {
	border: 1px solid black;
	overflow: auto;
	padding-top:1em;
	padding-bottom:1em;
}

/* styles for summaries */
.synth-summary {
	width: 100%;
	position: relative;
	border: 2px solid #888;
	padding: 0.4em;
	margin-bottom: 0.5em;
}
.synth-summary-text {
	width: calc(100% - 3em);
	font-size: 110%;
	font-weight: bold;
	height: 4.7em;
}
.synth-summary-delete {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
}
.synth-summary-expand, .synth-summary-collapse {
	position: absolute;
	top: 3em;
	right: 0.4em;
}
.synth-placeholder {
	height: 10em;
	width: 100%;
	border: 2px dotted #888;
	display: table; 
}
.synth-placeholder p {
	display: table-cell; 
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps;
	color: #aaa;
}

/* styles for statements */
.synth-statement {
	border: 2px dashed #aaa;
	padding: 0.2em;
	margin-bottom: 0.5em;
}
.synth-statement:hover {
	cursor: grab;
}

/* columns of same height styles */
.row-full-height {
	height: 100%;
}
.col-full-height {
	height: 100%;
	vertical-align: middle;
}
.row-same-height {
	width: 100%;
}

/* vertical alignment styles */
.col-top {
	vertical-align: top;
}
.col-middle {
	vertical-align: middle;
}
.col-bottom {
	vertical-align: bottom;
}
.col-centered {
	text-align: center;
}