/* fix IE scrollbars */
@-ms-viewport{
	width:auto!important
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

html, body {
	height: 100%;
}

.container {
	height: calc(100% - 10em)
}

.synth-box {
	border: 1px solid black;
	overflow: auto;
	padding-top:1em;
	padding-bottom:1em;
}

/* styles for summaries */
.synth-summary {
	width: 100%;
	position: relative;
	border: 2px solid #888;
	padding: 0.4em;
	margin-bottom: 0.5em;
}
.synth-summary-text {
	width: calc(100% - 3em);
	font-size: 110%;
	font-weight: bold;
	height: 4.7em;
}
.synth-summary-expand, .synth-summary-collapse, .synth-summary-delete {
	position: absolute;
	width: 2.6em;
	height: 2.4em;
	right: 0.4em;
}
.synth-summary-delete {
	top: 0.4em;
}
.synth-summary-expand, .synth-summary-collapse {
	top: 3em;
}
.synth-placeholder {
	height: 10em;
	width: 100%;
	border: 2px dotted #888;
	display: table; 
}
.synth-placeholder p {
	display: table-cell; 
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps;
	color: #aaa;
}

/* styles for statements */
.synth-statement {
	border: 2px dashed #aaa;
	padding: 0.2em;
	margin-bottom: 0.5em;
}
.synth-statement:hover {
	cursor: grab;
}

/* statement highlighting */
.synth-statement-highlight {
    float:right;
    clear: both;
	font-size: 20pt;
}
.synth-statement-highlight > span {
	background-color: transparent;
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 1.1em;
    color: lightgrey;
}
.synth-statement-highlight > span:hover:before,
.synth-statement-highlight.highlighted > span:before {
	background-color: transparent;
    content:"\2605";
    position: absolute;
    color: gold;
	opacity: 0.5;
}
.synth-statement-highlight.highlighted > span:before {
	opacity: 1;
}
.synth-statement-highlight > span:hover {
    cursor: pointer;
}

/* Live Ticker */
#ticker-options {
	position: absolute;
	top: 5em;
	right: 0.2em;
}

.ticker-statement {
	width: 100%;
	position: relative;
	border: 2px solid #888;
	padding: 0.4em;
	margin-bottom: 0.5em;
	font-size: 200%;
}

.ticker-statement span.issue {
	font-style: italic;
	font-size: 50%;
}

.ticker-divider {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* columns of same height styles */
.row-full-height {
	height: 100%;
}
.col-full-height {
	height: 100%;
	vertical-align: middle;
}
.row-same-height {
	width: 100%;
}

/* vertical alignment styles */
.col-top {
	vertical-align: top;
}
.col-middle {
	vertical-align: middle;
}
.col-bottom {
	vertical-align: bottom;
}
.col-centered {
	text-align: center;
}
