; IC-Discuss (c) 2015 by Hope Consultants International Ltd.
;
; IC-Discuss is licensed under a
; Creative Commons Attribution-ShareAlike 4.0 International License.
;
; You should have received a copy of the license along with this
; work.  If not, see <http://creativecommons.org/licenses/by-sa/4.0/>.

; debugging
debug = 0

; name of program
app_title = "IC Discuss"

; Access control
[Access]
enabled = false
; list all users that can upload
upload[] = "sample-user"
upload[] = "another-user"
; list all users that can access synthesize / report / live-ticker
synthesize[] = "sample-user"
; list all users that can manage data
manage[] = "sample-user"
; list all users that can access the live-ticker
ticker[] = "ticker-user"

[DB]
hostname = "localhost"
username = "ic-discuss"
password = "<secret password>"
database = "ic-discuss"
